#banner {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 60px;
	background-image: banner-background.png;
	background-color: black;
	color: white;
	font-weight: bold;
}

#w3c {
     position: fixed;
     width: 100%;
     height: 40px;
     bottom: 0;
     left: 0;
     background-color: black;
     color: white;
}

body {
     margin-top: 70px;
     margin-bottom: 50px;
     background-color:#dad9d4;
     font-family: Verdana sans-serif;
}

#frame {
       width: 90%;
       background-color: white;
       margin: 0 auto;
       padding: 0%;
}

#main {
      box-shadow: 10px 10px 5 px #888888;
}

#main h1,p {
      text-align: center;
}